@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;600&display=swap');
:root{
    --cream: #fffeea;

}
html{
    background-color: var(--cream);
}

body{
    margin: 0px;
    font-family: 'Work Sans', sans-serif;
    
}

#nav{

    padding-top:1.5rem;
    display: flex;
    padding-bottom: 1rem;
    border: 1px solid black;
    flex-direction: row;
    margin-bottom: 2rem;
     
}

#icon{
    padding-left: 4rem;
    font-size: 1.1rem;
    font-weight: bold;
}

.links{
    list-style-type: none;
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 0px;
    padding-left: 5rem;
    

}

.links-inline{
    display:inline;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

a{
  text-decoration: none;
  color: black;
  font-size: smaller;
  font-weight:600;
  
}

h1{
    text-align: center;
}

main{
    width: 600px;
    margin: 0 auto;
    margin-top: 3rem;
}

h3,p{
    text-align: center;
}

.center-align{
    
    margin: 0 auto;
}

.calculate{

    border: 2px solid black;
    padding-bottom: 1rem;
    margin-bottom: 3rem;
}

.input{
    width: 300px;
    margin: 0 auto;
}

.button-holder{
    width: 300px;
    margin: 0 auto 1rem auto;
    text-align: left;
}

button{
  
    border: 2px solid black;
    font-family: 'Work Sans', sans-serif;
    background-color: var(--cream);
  
  }