@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;600&display=swap');
:root{
    --cream: #fffeea;

}
html{
    background-color: var(--cream);
}

body{
    margin: 0px;
    font-family: 'Work Sans', sans-serif;
}

#nav{

    padding-top:1.5rem;
    display: flex;
    padding-bottom: 1rem;
    border: 1px solid black;
    flex-direction: row;
    margin-bottom: 3rem;
     
}

#icon{
    padding-left: 4rem;
    font-size: 1.1rem;
    font-weight: bold;
}

.links{
    list-style-type: none;
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 0px;
    padding-left: 5rem;
    

}

.links-inline{
    display:inline;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

a{
  text-decoration: none;
  color: black;
  font-size: smaller;
  font-weight:600;
  
}

#caption{

    font-size: 5vw;

}

@media screen and (min-width: 1000px) {
    #caption{
       font-size: 5rem;
    }

    #text{
       padding-left:10rem;
    }

    #img{
        padding-left: 20rem;
    }
  }

#text{
    padding-left: 10vw;
    
}

#desc{
    font-size: smaller;
    padding-left: 10px;
    line-height:1.5;
}
#about{
    display: flex;
}

#img{
    max-height: 600px;
    width: 60%;
    padding-left: 20vw;
    
}





